.wrap {
  height: 1000px;
  width: 100%;
  background-image: url("../Images/background3.jpg");
  position: fixed;
  z-index: -10;
  top: 0;
}
figure {
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  display: inline-block;
}
.content {
  width: 100%;
  background-color: rgba(121, 95, 99, 1);
  color: #e49d10;
  margin-top: 400px;
  padding-bottom: 200px;
  padding-top: 100px;
  opacity: 0.9;
}
.content a {
  position: relative;
  font-size: 20px;
  /*padding-left: 25px;*/
  font-family: 'Indie Flower', cursive;
  color: #e49d10;
  text-decoration: none;
  text-align: center;
  transition: 0.5s ease;
  padding-top: 45px;
}
figcaption {
  text-align: center;
}
.img {
  position: relative;
  display: inline-block;
  text-align: center;
  /*margin-left: 120px;*/
  margin-top: 200px;
  height: 10em;
  width: auto;
  border-radius: 50%;
}
.img:hover {
  opacity: 0.5;
  transition: 0.5s;
}
a:hover {
  transform: scale(1.2);
}
.title {
  margin-top: 300px;
}
