/* home page css */
nav { position: fixed; }

img {
  display: block;
  height: 6vw;
  width: 6vw;
  margin: 0 auto;
  margin-bottom: 2vw;
}
.wrap {
  height: 1000px;
  width: 100%;
  background-image: url("../Images/backgroundimage.jpeg");
  position: fixed;
  z-index: -10;
  top: 0;
}
.content {
  width: 100%;
  background-color: rgba(121, 95, 99, 1);
  color: #e49d10;
  margin-top: 1000px;
  padding-bottom: 100px;
  opacity: 0.9;
  padding-top: 60px;
}
.headings {
  font-size: 60px;
  font-weight: bold;
  font-family: 'Montserrat',Tenor Sans, sans-serif;
  text-align: center;
}
.headings a {
  text-decoration: none;
  color: #e49d10;
  transition: 0.5s ease;
  display: inline-block;
}
a:hover {
  transform: scale(1.2);
