#mapid {
width: 65%;
height: 400px;
margin: 50px auto;
}

/*Hide / Show questions*/
#radio0 {
  display: block;
}
#radio1 {
  display: none;
}
#radio2 {
  display: none;
}
#radio3 {
  display: none;
}
#radio4 {
  display: none;
}
#radio5 {
  display: none;
}
#radio6 {
  display: none;
}
#radio7 {
  display: none;
}
#radio8 {
  display: none;
}
#radio9 {
  display: none;
}
