#mapid {
width: 65%;
height: 400px;
margin: 50px auto;
}

body {
  background-color: white;
}

/*Hide / Show questions*/
}
#radio1 {
  display: none;
}
#radio2 {
  display: none;
}
#radio3 {
  display: none;
}
#radio4 {
  display: none;
}
#radio5 {
  display: none;
}
#radio6 {
  display: none;
}
#radio7 {
  display: none;
}
#radio8 {
  display: none;
}
#radio8 {
  display: none;
}
