html {
  width: 100%;
  height: 100%;
}
body {
  margin: 0px;
  background-color: #041534;
}
nav {
 width: 100%;
 height: 1.5vw;
 display: table;
 background-color: rgba(255, 255, 255, 0.4);
 position: static;
 z-index: 10;
 top: 0;
 text-align: center;
}
p {
  font-family: 'Montserrat', Tenor Sans, sans-serif;
  color:black;
  font-size: 1.5vw;
}

/*creates a placeholder for a banner image*/
.bannerImg {position: absolute; height: 21vw; overflow: hidden;}

/*creates a box for text that appears on top of the banner image*/
.titleBox {position: relative; height: 21vw;
  margin-top: -24px; margin-right: -8px;
  display: table;
  background: rgba(0, 0, 0, 0.5);
  text-align: center;}

/*centers text vertically in the titleBox */
.tableText {display: table-cell; vertical-align: middle; width: 5120px; color: #e49d10;}
/*styling for instructional text*/
.instructionText{font-family: 'Montserrat'; font-size: 1.33vw;}
.instructionTitle{font-family: 'Montserrat'; font-size: 3vw; color: #e49d10;}

/*creates the fade-in over the banner image*/
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity: 1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity: 1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity: 1; } }

.fade-in {
  opacity:0;
  -webkit-animation:fadeIn ease-in 1;
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;
}

.fadeInDelay {
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation-delay: 1s;
}

/*default nav styling*/
#topNav a {
  color: #e49d10;
  margin-top: 1vw;
  margin-bottom: 1vw;
  margin-left: 5vw;
  margin-right: 5vw;
  font-size: 1.5vw;
  text-decoration: none;
  font-family: 'Montserrat',Tenor Sans, sans-serif;
  display: inline-block;
  z-index: 20;
  transition: 0.5s ease;
}
a:hover {
  text-decoration: underline;
  font-style: italic;
  transform: scale(1.5);
}
.title {
  font-family: 'Indie Flower', cursive;
  font-size: 6vw;
  color: #e49d10;
  text-align: center;
  }

.paragraph {
  padding-left: 10px;
  width: 80%;
  margin: 30px auto;
  background-color: rgba(255, 255, 255, 0.4);
  border: 1px solid black;
  text-align: center;
}

footer {
  width: 100%;
  height: 1.5vw;
  display: table;
  text-align: center;
}
  .bottomNav a{
    color: black;
    margin-top: 1vw;
    margin-bottom: 1.5vw;
    margin-left: 5vw;
    margin-right: 5vw;
    font-size: 1.5vw;
    text-decoration: none;
    font-family: 'Montserrat',Tenor Sans, sans-serif;
    display: inline-block;
    transition: 0.5s ease;

  }
  .bottomNav {
    background-color: white;
    opacity: 0.6;
  }
