body {
    background-color: #041534;
    position: relative;
}
.image {
    margin-top: 0;
    position: relative;
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../Images/review_banner.jpg");
    width: 100%;
    height: 300px;
    margin-bottom: 0;
    /*opacity: 0.6;*/
}
.title {
    padding: 100px;
    margin-top: 0;
}
nav {
    position: static;
    margin: 0;
}
h1 {
  color: #e49d10;
}
p {
  color: #041534;
}
form {
    padding-left: 10px;
    width: 80%;
    margin: 30px auto;
    background-color: rgba(255, 255, 255, 0.4);
    border: 1px solid black;

}
label {
    font-family: 'Montserrat', Tenor Sans, sans-serif;
    color: #041534;
}
input[type=text] {
    width: 300px;
    height: 25px;
}
input[type=radio] {
    display: inline-block;
    margin-left: 2em;
    line-height: 1.5em;
}
input.required {
    background-color: #8a0707;
    color: black;
}
.paragraph > p {
  color: #041534;
}
.required {
    color: #8a0707;
}
#long, #lat {
  margin-bottom: 5vw;
}
.submitBtn {
  text-align: center;
}
#formBtn {
  margin: 0 auto;
  text-align: center;
  color: #e49d10;
  background-color:#3d3c50;
  border: none;
  padding: 15px 32px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 20vw;
  margin-bottom: 2vw;
}
#formBtn:hover {
  opacity: 0.6;
  transition: 0.7s ease-out;
}

.frame {
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
    color: #e49d10;
}
iframe {
    display: block;
    margin: 0 auto;
    margin-bottom: 50px;
    width: 800px;
    height: 400px;
}
::-webkit-input-placeholder {
    font-family: 'Montserrat', Tenor Sans, sans-serif;
}
::-moz-placeholder {
    font-family: 'Montserrat', Tenor Sans, sans-serif;
}

/* firefox 19+ */

:-ms-input-placeholder {
    font-family: 'Montserrat', Tenor Sans, sans-serif;
}

/* ie */

input:-moz-placeholder {
    font-family: 'Montserrat', Tenor Sans, sans-serif;
}
